Business goal
1. Identify thee best customers (develop a ranking mechanism)
2. The budget is $1,000.
3. No indication was given about how much each coupon would be worth â€” it's for you to decide.
4. The coupons need to be good enough to prompt people to actually use them.
5. They can't be too high because:
     - That reduces the number of customers who get them.
     - It would be like giving away money.
     - Due to price dumping, it could be illegal.

6. Assumptions
     - a 30% discount is already very enticing;
     - weighted average of number of transactions and amount spend is good criteria to rank customers.

In [59]:
import pandas as pd

data = pd.read_csv("rfm_xmas19.txt", parse_dates=["trans_date"])
#parse_dates allows us to immediately set the appropriate date type to the selected columns
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125000 entries, 0 to 124999
Data columns (total 3 columns):
customer_id    125000 non-null object
trans_date     125000 non-null datetime64[ns]
tran_amount    125000 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 2.9+ MB
None

In [60]:
data.head()

  customer_id trans_date  tran_amount
0      FM5295 2017-11-11           35
1      FM4768 2019-12-15           39
2      FM2122 2017-11-26           52
3      FM1217 2016-08-16           99
4      FM1850 2018-08-20           78

#### Last Purchase by Custumer ID

In [61]:
group_by_customer=data.groupby(['customer_id'])
best_churn= data[['customer_id','trans_date']].groupby(['customer_id']).max()

In [62]:
best_churn.head()

            trans_date
customer_id
FM1112      2019-10-14
FM1113      2019-11-09
FM1114      2019-11-12
FM1115      2019-12-05
FM1116      2019-05-25

#### Customers Who Churned

In [63]:
import datetime
cutoff_day = datetime.datetime(2019, 10, 16) ###assigning it datetimee
print(type(cutoff_day))
best_churn.info()
best_churn["trans_date"]=pd.to_datetime(best_churn["trans_date"])  ##converting it datetimee
best_churn['churned']=best_churn["trans_date"].apply(lambda x: 1 if (x-cutoff_day).days<0 else 0)

<class 'datetime.datetime'>
<class 'pandas.core.frame.DataFrame'>
Index: 6889 entries, FM1112 to FM9000
Data columns (total 1 columns):
trans_date    6889 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 107.6+ KB

In [64]:
best_churn.head()

            trans_date  churned
customer_id
FM1112      2019-10-14        1
FM1113      2019-11-09        0
FM1114      2019-11-12        0
FM1115      2019-12-05        0
FM1116      2019-05-25        1

#### Ranking Mechanism to find the best customer 

1. Amount spent and 
2. number of purchases made, and 
The scores should be the same weight. This means that a customer who spent a lot is worth as much as someone who made many purchases.
3. Since the values are different in scale, it will have an impact on the ranking, so using the min-max scaling is the solution.

In [65]:
best_churn["nr_of_transactions"] = group_by_customer.size()
best_churn["amount_spent"] = group_by_customer['tran_amount'].sum()
best_churn.drop(columns=['trans_date'],inplace=True)
best_churn.sample(5)

             churned  nr_of_transactions  amount_spent
customer_id
FM2877             0                  24          1677
FM7207             0                  12           604
FM1548             0                  23          1755
FM4887             0                  23          1516
FM2058             0                  26          1776

In [67]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
def normalize(cols):
   mm_scaler = preprocessing.MinMaxScaler()
   for col in cols:
     best_churn['scaled_{}'.format(col)]= mm_scaler.fit_transform(best_churn[[col]])
   return best_churn

In [69]:
best_churn=normalize(['nr_of_transactions','amount_spent'])

In [70]:
best_churn.head()

,churned,nr_of_transactions,amount_spent,scaled_nr_of_transactions,scaled_amount_spent
customer_id,,,,,
FM1112,1,15,1012,0.314286,0.309986
FM1113,0,20,1490,0.457143,0.481681
FM1114,0,19,1432,0.428571,0.460848
FM1115,0,22,1659,0.514286,0.542385
FM1116,1,13,857,0.257143,0.254310

#### Scaled weighted score for number of transactions and amount spent

In [71]:
best_churn['score']=(best_churn['scaled_nr_of_transactions']*0.5+best_churn['scaled_amount_spent']*0.5)*100

In [72]:
best_churn.head()

,churned,nr_of_transactions,amount_spent,scaled_nr_of_transactions,scaled_amount_spent,score
customer_id,,,,,,
FM1112,1,15,1012,0.314286,0.309986,31.213567
FM1113,0,20,1490,0.457143,0.481681,46.941195
FM1114,0,19,1432,0.428571,0.460848,44.470956
FM1115,0,22,1659,0.514286,0.542385,52.833539
FM1116,1,13,857,0.257143,0.254310,25.572660

In [73]:
best_churn.sort_values(by='score', ascending=False,inplace=True)

In [74]:
best_churn.head()

,churned,nr_of_transactions,amount_spent,scaled_nr_of_transactions,scaled_amount_spent,score
customer_id,,,,,,
FM4424,0,39,2933,1.000000,1.000000,100.000000
FM4320,1,38,2647,0.971429,0.897270,93.434934
FM3799,1,36,2513,0.914286,0.849138,88.171182
FM5109,0,35,2506,0.885714,0.846624,86.616892
FM3805,1,35,2453,0.885714,0.827586,85.665025

Identify the following based on the business goal
1. number of coupouns and 
2. the value for each of the coupon and 
3. who should be getting it

In [76]:
coupon = data['tran_amount'].mean()*0.30
nr_of_customers = 1000//coupon

In [77]:
nr_of_customers

51.0

#### so final we have a $20 coupoun for 50 churned customers

In [79]:
top_50_churned=best_churn.loc[best_churn["churned"] == 1].head(50)

In [80]:
top_50_churned

,churned,nr_of_transactions,amount_spent,scaled_nr_of_transactions,scaled_amount_spent,score
customer_id,,,,,,
FM4320,1,38,2647,0.971429,0.897270,93.434934
FM3799,1,36,2513,0.914286,0.849138,88.171182
FM3805,1,35,2453,0.885714,0.827586,85.665025
FM5752,1,33,2612,0.828571,0.884698,85.663485
FM4074,1,34,2462,0.857143,0.830819,84.398091
FM1215,1,35,2362,0.885714,0.794899,84.030686
FM2620,1,35,2360,0.885714,0.794181,83.994766
FM1580,1,33,2329,0.828571,0.783046,80.580870
FM2951,1,32,2382,0.800000,0.802083,80.104167
FM3163,1,31,2413,0.771429,0.813218,79.232348
FM5868,1,31,2260,0.771429,0.758261,76.484503
FM1695,1,32,2174,0.800000,0.727371,76.368534
FM1865,1,31,2245,0.771429,0.752874,76.215107
FM1757,1,31,2238,0.771429,0.750359,76.089388
FM3362,1,30,2303,0.742857,0.773707,75.828202
FM3356,1,31,2221,0.771429,0.744253,75.784072
FM1978,1,31,2220,0.771429,0.743894,75.766112
FM1541,1,30,2273,0.742857,0.762931,75.289409
FM4303,1,31,2181,0.771429,0.729885,75.065681
FM3165,1,30,2202,0.742857,0.737428,74.014265
FM2361,1,30,2193,0.742857,0.734195,73.852627
FM3530,1,30,2186,0.742857,0.731681,73.726909
FM4139,1,31,2099,0.771429,0.700431,73.592980
FM2482,1,31,2098,0.771429,0.700072,73.575021
FM3702,1,30,2175,0.742857,0.727730,73.529351
FM5518,1,31,2089,0.771429,0.696839,73.413383
FM1397,1,30,2156,0.742857,0.720905,73.188116
FM3897,1,30,2141,0.742857,0.715517,72.918719
FM1923,1,30,2130,0.742857,0.711566,72.721162
FM4603,1,30,2111,0.742857,0.704741,72.379926
FM2284,1,29,2179,0.714286,0.729167,72.172619
FM5026,1,30,2098,0.742857,0.700072,72.146449
FM5717,1,30,2068,0.742857,0.689296,71.607656
FM1367,1,29,2146,0.714286,0.717313,71.579947
FM3477,1,31,1978,0.771429,0.656968,71.419848
FM4014,1,29,2133,0.714286,0.712644,71.346470
FM1781,1,29,2131,0.714286,0.711925,71.310550
FM3842,1,29,2124,0.714286,0.709411,71.184832
FM2871,1,29,2124,0.714286,0.709411,71.184832
FM2938,1,30,2039,0.742857,0.678879,71.086823
FM3470,1,30,2035,0.742857,0.677443,71.014984
FM2702,1,29,2090,0.714286,0.697198,70.574200
FM4939,1,29,2088,0.714286,0.696480,70.538280
FM5131,1,29,2083,0.714286,0.694684,70.448481
FM3221,1,28,2159,0.685714,0.721983,70.384852
FM2179,1,30,1991,0.742857,0.661638,70.224754
FM4330,1,30,1990,0.742857,0.661279,70.206794
FM1373,1,30,1967,0.742857,0.653017,69.793719
FM5678,1,30,1965,0.742857,0.652299,69.757800
FM1332,1,29,2010,0.714286,0.668463,69.137418